{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'header.html.twig' %}
        {% block logged_user_actions %}
            <a href="{{ path('publish') }}">Publish</a>
        {% endblock %}
    {% endembed %}



    <h1>Bienvenu {{ user }}</h1>

    <p>Les derniers articles !</p>

    {% for post in posts %}
        <article style="background-color: yellow; max-width: 300px">
            <h1 style="text-align: center">{{ post.title }}</h1>
            <section style=";margin-left: 20px;">
                {{ post.description }}
            </section>
        </article>
    {% endfor %}


{% endblock %}