{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <a href="">Home</a>
        <a href="login">Login</a>
    </nav>

    <h1>
        Bienvenu
    </h1>

    <p>Les derniers articles !</p>


{% endblock %}