{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'header.html.twig' %}
        {% block logged_user_actions %}
            <a href="{{ path('publish_post') }}">Publish</a>
        {% endblock %}
    {% endembed %}

    <h1>{{ post.getTitle() }}</h1>

    <p>{{ post.getContent() }}</p>

    <footer style="color: #B0413E">By {{ post.getEditor().getName() }}</footer>
{% endblock %}